---
import Basic from "../layouts/Basic.astro";
import Hero from "../components/HeroSection.astro";
---

<Basic title="Home">
  <main>
    <Hero />
    <h1>Hello World</h1>
    <div class="test">
      test
    </div>
  </main>
</Basic>

<style>
  .test {
    margin-top: 200vh;
  }
</style>