.background {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: -99999;
}

.mouse-circle {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #9692e622;
  width: 30vw;
  height: 30vw;
  border-radius: 999vh;
  z-index: -999999;
  filter: blur(999px);
}
