---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Background from "../components/Background";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kacey Kniffen | {title}</title>
  </head>
  <body>
    <Background client:load client:only />
    <Navbar />
    <slot />
  </body>
</html>
